<nav class="navbar fixed-top navbar-expand-md navbar-dark" id="nav1">

    <!-- Navbar brand -->
     <a class="navbar-brand" href="#"><img src="" width="50" height="50" class="d-inline-block align-top" alt=""><span class="title">SAYUR <span class="title-1">PEDIA</span></span></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/search_sayur">Cari Sayur</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
				      
		</ul>
    </div>
                <!-- Collapsible content -->
</nav>